/*********************************/
/** ~/.config/waybar/style.css **/
/** ×Joda™ *********************/
/******************************/

@define-color primary_bg #333748;
@define-color text_color #dcd7ba;
@define-color accent #fefefe;

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 12px;
	border-radius: 0px 0px 0px 0px;
	padding: 0px 4px 0px 4px;
}

window#waybar {
    background-color: @primary_bg;
    border-top: 1px solid @accent;
    transition-property: background-color;
    transition-duration: 1.5s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @accent;
}

button:focus {
	background: @accent;
}

#workspaces button {
    padding: 2px 2px 0px 0px;
    background-color: transparent;
    color: @text_color;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.9);
}

#workspaces button.focused {
    background-color: #98bb6c;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
	background-color: @accent;
	color: @primary_bg;
	border-radius: 0px 0px 8px 8px;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0px;
}

#clock {
    background-color: @accent;
	color: @primary_bg;
	font-size: 16px;
	border-radius: 0px 0px 8px 8px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}


label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
    color: @text_color;
}

#memory {
    background-color: transparent;
	color: @text_color;
}

#disk {
    background-color: transparent;
	color: @text_color;
}

#network {
    background-color: transparent;
	color: @text_color;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#temperature {
    background-color: transparent;
	color: @text_color;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: @accent;
	color: @primary_bg;
	padding: 2px 2px 2px 2px;
	border-radius: 0px 0px 8px 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: transparent;
	color: @text_color;
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: @text_color;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom {
	color: @text_color;
}

